<!doctype html>
<head>
    <!-- kyaa :3 -->
    <meta charset="utf-8">
    <title> Annisaa Fitri Shabrina | BEM FTIF ITS 2014</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="staff.css">
    <script type="text/javascript" src="jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>

</head>
<body>
	<div id = "back">
		<a href="#"><span class="glyphicon glyphicon-arrow-left"></span> 
		KEMBALI</a>
	</div>
	<img class="img-circle" alt="140x140" style = "width:10%; margin: 0 auto; display: block; " src = "2.png"/><div id = "header"><h3> Annisaa Fitri Shabrina </h3><h4>  </h4></div> 	
	<HR>
<div id="info">
	<div class = "col-md-1" ></div>
	<div class = "col-md-3">
		<img style = "padding:15px;"src = "contoh.png" alt="Annisaa Fitri Shabrina" title="Annisaa Fitri Shabrina"/>
		<ul class = "list-group" style = "padding-right: 12px;">
		</li><li class="list-group-item"><span class="glyphicon glyphicon-user"></span>@mpitsky</li><li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span>mpitski@gmail.com</li></li><li class="list-group-item"><span class="glyphicon glyphicon-gift"></span>23/04/1993</li>		</ul>
	</div>

	<div  class= "col-md-7" >
		<h3> Kehadiran </h3>
		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
		    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
		      <h4 class="panel-title">
		          Hadir
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in">
		      <div class="panel-body">
		       <ul>
		       	<li>Rapat Kerja BEM</li><li>Evaluasi Paruh Tahun</li><li>BEM Gathering 1</li><li>Pleno 1</li>		       </ul>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
		      <h4 class="panel-title">
		          Izin
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse">
		      <div class="panel-body">
		       	<ul>
		       	</ul>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
		      <h4 class="panel-title">
		          Tidak Hadir (tanpa izin)
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse">
		      <div class="panel-body">
		        <ul>
		       	<li>BEM Gathering 2</li>		       </ul>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
<body>